.routine-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .default-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .date-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .date-display {
    text-align: center;
  }
  
  .date-display h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .date-display p {
    font-size: 18px;
    margin: 5px 0;
  }
  
  .nav-arrow {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .time-slots {
    position: relative;
    width: 100%;
  }
  
  .time-slot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    position: relative;
    height: 60px; /* 60px for each hour */
  }
  
  .time-slot:hover {
    background-color: #f0f0f0;
  }
  
  .time {
    width: 60px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .activities-container {
    position: absolute;
    width: calc(100% - 60px);
    left: 60px;
    top: 0;
    bottom: 0;
  }
  
  .activity {
    background-color: #f4d4d4;
    color: black;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    animation: fadeIn 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; /* Ensure text does not overflow the container */
  }
  
  .activity-title {
    font-size: 1.2em; /* Slightly bigger than normal text */
    font-weight: bold;
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .activity-time {
    font-size: 0.8em;
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .activity-notes {
    font-size: 0.7em;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  