@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #F4D4D4;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
  margin-right: 10px;
}

.brand-name {
  font-size: 1.5em;
  color: #333;
  line-height: 60px;
}

.navbar-right {
  display: flex;
  gap: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  border: none;
  border-radius: 15px;
  font-size: 1.1em;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  transition: transform 0.2s;
  text-decoration: none;
  color: white;
}

.btn:hover {
  transform: scale(1.1);
}

.signup-btn {
  background-color: #E8E8E8;
  color: #333;
}

.login-btn {
  background-color: #802525;
  color: #FFF;
}
